body{margin: 0; padding: 0;}

#map{
	top: 0;
	bottom: 0;
	width: 100%;

}

#map-ui li a {
	
    font: 10px Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    background: #4B6E88;

}



#map-ui li{
	list-style: none;
	white-space: pre-wrap;
	border: 1px solid #fff;
	display: inline;
	margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;


}

#map-ui a.active {
    background: #E18E54;
    border-top-color: #FFF;
    color: #fff;
}

#info{
	z-index: 999;
	position: absolute;
	top: 0;
	padding: 20px;
	opacity: .8;
	width: 33.3%;
	overflow: scroll;
	background-color: white;
}

#info h1{
	font: 3em Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
}
#info h2{
	font: 1.5em Helvetica, sans-serif;
	font-weight: 800;
	text-align: center;
}

#info p{
	font: .75em Helvetica, sans-serif;
	font-weight: 300;
	text-align: center;
}

#info a{
	color: #2E8D90;
	font-weight: 700;
	text-decoration: none;
}

#highlights li a{
	font: 10px Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    background: #E18E54;
}

#highlights li{
	list-style: none;
	white-space: pre-wrap;
	border: 1px solid #fff;
	display: inline;
	margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px;


}

@media screen and (min-width: 320px) and (max-width: 768px){
	#info{
		width: auto;
		max-height: 33.3%;
	}
}